@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.link-navbar {
  text-decoration: inherit;
  color: inherit;
}
.btn-main {
  width: 180px;
}
.btn-main.in-text-frame, .btn.in-text-frame {
  margin-top: 8px;
}
